{% autoescape off %}
{% extends 'base.html' %}
{% load static %}
{% block title %}Ventanilla virtual | Password Reset{% endblock %}

{% block header_ext %}
    <style type="text/css">
        
        body {
            background-color: #ece7f1;
            font-size: 14px;
            line-height: 16px;
            font-family: PTSansRegular,Arial,Helvetica,sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
        }

        a:link {
            color: #a1bc30;
            text-decoration: none;
        }

        a.button {
            background-color: #a1bc30;
            border-color: #a1bc30;
            border-radius: 5px;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
            font-family: PTSansRegular,Arial,Helvetica,sans-serif;
            padding: 7px;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            width: 250px;
        }

        
        .color_title {
            color: #a1bc30;                
            font-weight: bold;
            font-family: PTSansRegular,Arial,Helvetica,sans-serif;
            text-align: center;
        }

        .color_muted {
            color: #b0b0b0;                
        }

        .center {
            text-align: center
        }

        .container {
            background-color: #ffffff;
            border: 1px solid #cdc9d1;
            min-height: 50%;
            min-width: 650px;
            width: 50%;
            margin-left: 5%;
            margin-top: 2%;
        }

        p {
            text-align:center
        }

        table {
            margin: auto;
            width:650px;
        }

        td {
            padding-right: 14px;
            padding-left: 14px;
        }
    </style>
{% endblock header_ext %}

{% block content %}

    <div class="container">

    <!-- BEGIN EMAIL -->
    <table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <h1 class="color_title">Ventanilla virtual</h1>
            <h3 align="center">Cordial Saludo {{ user.first_name }},</h3>

            <p>Hemos recibido una solicitud para restablecer su contraseña la Ventanilla Virtual. Para continuar, de clic en el siguiente botón.</p>

            <p class="center">
                <a target="_blank" class="button"
                        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Restablecer contraseña
                </a>
            </p>

            <p>Este link solo podrá ser utilizado una única vez. Si necesita restablecer de nuevo su contraseña, por favor visite el siguiente link:
            <a href="{{ protocol }}://{{domain}}">{{ site_name }}</a> y solicite una nueva clave.</p>

            <p>Si usted no solicitó restablecer su contraseña, por favor contactar al administrador del sistema: 
            <a href="mailto: YOUR_SUPPORT_EMAIL">webmaster@mypartnersap.com</a>.</p>

            <p>Atentamente,</p>
            <p>Equipo de Soporte de MyPartner</p>
        </td>
    </tr>
    </table>
    <!-- END EMAIL -->

    <table class="spacer">
        <tr><td class="spacer">&nbsp;</td></tr>
    </table>

    <!-- BEGIN FOOTER -->
    <table align="center">
        <tr>
            <td>
                <p class="center"><img width="150" src="cid:logo" /></p>
            </td>
        </tr>
        <tr>
            <td class="center color_muted"><p><b>@2022 MyPartner,</b> Calle 26 Sur # 23A 11, Oficina 158.<br>Envigado, Antioquia.</p>
            <p class="color_muted">Por favor no responda a este correo.</p>
            </td>
        </tr>
    </table>
    <!-- END FOOTER -->
    </div>

    {% endblock %}
{% endautoescape %}