{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Correo electrónico enviado</h2>
		<hr>
        <div class="row">
            <div class="col-md-2">
                <img class="mb-1" src="{% static 'secure.png'%}" alt="" width="150">
            </div>
            <div class="col-md-6">
                <p>Te hemos enviado un correo electrónico a la dirección registrada con las instrucciones para restablecer tu contraseña. En breve deberías recibirlo.</p>
                <p>Si no recibes un correo electrónico, asegurate de haber ingresado correctamente los datos y verifica el buzón de correos no deseados.</p>
            </div>
        </div>
  </div>

{% endblock %}