<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Ventanilla virtual |  Cambiar Contraseña{% endblock %}

{% block header_ext %}

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static '/signin.css' %}">

  <script>
    function verifyPassword() {
      var pw = document.getElementById("id_new_password1").value;
      var pw2 = document.getElementById("id_new_password2").value;
      //check empty password field
      if (pw == "") {
        document.getElementById("message").innerHTML = "**Por favor ingrese una contraseña";
        return false;
      }
      //minimum password length validation
      if (pw.length < 8) {
        document.getElementById("message").innerHTML = "**La contraseña debe tener al menos 8 caracteres";
        return false;
      }
      //check password match
      if (pw != pw2) {
        document.getElementById("message").innerHTML = "**Las contraseñas no coinciden";
        return false;
      }
    }
  </script>

{% endblock header_ext %}

{% block content %}
  <form onsubmit ="return verifyPassword()" class="form-signin" method="post">
    <img class="mb-1" src="{% static '/assets/icon.svg'%}" alt="" width="200">
    <h1 class="h3 mb-3 font-weight-normal">Ventanilla virtual</h1>
    {% csrf_token %}

    <div class="form-floating">
      <input type="password" name="new_password1" id="id_new_password1" class="form-control"
        placeholder="Nueva Contraseña" required="">
      <label for="id_new_password1">Nueva Contraseña</label>
    </div>
    <div class="form-floating">
      <input type="password" name="new_password2" id="id_new_password2" class="form-control"
        placeholder="Repita la Contraseña" required="">
      <label for="id_new_password2">Repita la Contraseña</label>
    </div>
    <div class="alert alert-danger" role="alert">
      <span class="sr-only" id = "message"></span>
    </div>
    <div class="form-floating">
      <button class="w-100 btn btn-lg btn-primary" type="submit">Cambiar Contraseña</button>
    </div>


    <div class="form-floating">
      <h6 class="mt-4 mb-3 text-muted">My Partner @{% now 'Y' %} | Ventanilla virtual</h6>
    </div>


  </form>

{% endblock %}