<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Ventanilla virtual | Reinicio Contraseña{% endblock %}

{% block header_ext %}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static '/signin.css' %}">

{% endblock header_ext %}

{% block content %}

  <form class="form-signin" method="post">    
    <img class="mb-1" src="{% static '/assets/icon.svg'%}" alt="" width="200">
    <h1 class="h3 mb-3 font-weight-normal">Ventanilla virtual</h1>
    <h5>Cambio de clave exitoso</h5>
    <p>Se ha modificado su contraseña exitosamente. Proceda a iniciar sesión.</p>

    <div class="form-floating">
      <a class="w-100 btn btn-lg btn btn-primary" type="submit" href="{% url 'login' %}">Iniciar sesión</a>
    </div>
    <div class="form-floating">
      <h6 class="mt-4 mb-3 text-muted">My Partner @{% now 'Y' %} | Ventanilla virtual</h6>
    </div>


  </form>

  {% endblock %}