{% extends 'base.html' %}
{% load static %}
{% block title %}Ventanilla virtual | Detalle de registro{% endblock %}
{% block header_ext %}
<style>
    .container.overflow-hidden {
        padding-top: 6rem; /* Ajusta este valor según el tamaño de tu navbar */
    }
</style>
{% endblock header_ext %}

{% block content %}

<div class="container pt-5">
  {% block messages %}
  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  {% endblock messages %}


  <h2>Detalle del Registro {{ record.recordId }}</h2>
  <p>Tipo de Identificación: {{ record.typeId }}</p>
  <p>Número de Identificación: {{ record.numberId }}</p>
  <p>Nombres: {{ record.firstName }}</p>

</div>


{% endblock %}

{% block js %}
{% endblock js %}