{% extends 'base.html' %}
{% load static %}

{% block title %}Ventanilla virtual | Términos y condiciones{% endblock %}

{% block header_ext %}
<style>
    .container.overflow-hidden {
        padding-top: 6rem; /* Ajusta este valor según el tamaño de tu navbar */
    }
</style>
{% endblock header_ext %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <p class="h2">TERMINOS Y CONDICIONES</p>
            <p class="h3">POLÍTICA DE TRATAMIENTO DE INFORMACIÓN Y DATOS PERSONALES </p>
            <p class="h4">Aspectos preliminares</p>
            <p>La plataforma <strong>VENTANILLA VIRTUAL</strong>, actuando de conformidad y en armonía con lo estipulado en el artículo 15 de la Constitución Política de Colombia, donde se establece el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades públicas y privadas; la Ley 1581 de 2012 que dicta las disposiciones generales para la protección de datos personales, el Decreto 1074 de 2015 y las demás disposiciones relacionadas con la protección de datos personales; consciente de la importancia que representan los datos personales para sus Titulares, y de la responsabilidad que ha adquirido frente a estos, como consecuencia de las actividades de Tratamiento de información desarrolladas en ejecución de su objeto social, pone a disposición de los interesados, su política para el tratamiento de información personal y datos personales</p>
            <p class="h4">1. Responsable del tratamiento de datos personales</p>
            <p><strong>MY PARTNERS</strong>, actúa como responsable de la Ventanilla Virtual y del tratamiento de información y datos personales recolectados en dicha plataforma. MY PARTNERS, se identifica con número NIT 900.375.029-7.</p>
            <p class="h4">2. Objeto de nuestra política</p>
            <p>El presente documento tiene por objeto reglamentar las actividades relacionadas con el Tratamiento al cual serán sometidos los datos personales de las personas naturales que componen las Bases de Datos de VENTANILLA VIRTUAL, principalmente en lo relacionado con la finalidad del mismo, los derechos de los Titulares de los datos personales, los compromisos adquiridos por VENTANILLA VIRTUAL con estos, en su calidad de RESPONSABLE del Tratamiento y las herramientas adoptadas, para que los Titulares puedan ejercer adecuadamente sus derechos.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock js %}